.main {
	padding: 20px 10px;
}

.hack h1 {
	padding-top: 0;
}

footer.footer {
	border-top: 1px solid #ccc;
	margin-top: 80px;
	margin-top: 5rem;
	padding: 48px 0;
	padding: 3rem 0;
}

img {
	max-width: 100%;
	padding: 1em;
}

.conversation {
  display: flex;
}

.conversation-picture {
  flex: 1;
  min-width: 9rem;
  max-width: calc(((70rem - 2rem)/6));
}

.conversation-smol {
    min-width: 6rem;
    max-width: 6rem;
}

.conversation-chat {
    align-self: center;
}

.gruvbox-dark pre, pre {
    padding-left: 1em;
    padding-right: 1em;
}

/* xeblog-conv:not(:defined) { */
/*     display: block; */
/*     border-left: 0.25ch solid green; */
/*     padding-left: 1.75ch; */
/* } */

/* xeblog-conv:before:not(:defined) { */
/*     content: "<"attr(name)">"; */
/*     font-weight: bold; */
/* } */

.warning {
    background-color: #282828;
}

@media (prefers-color-scheme: light) {
    .warning {
        background-color: #fbf1c7;
    }
}
