---
date: 2012-12-21
---

<h1 class="text-3xl mb-4">{{ resume.name }}</h1>
<p class="text-xl mb-4">{{ resume.tagline }} - {{ resume.location.city }}, {{ resume.location.country }}</p>
<p class="text-lg mb-4">I'm a speaker, writer, chaos magician, and commited technologist. I regularly write articles on
    my <a href="/blog">blog</a> and give <a href="/talks">conference talks</a>.</p>

<h2 class="text-2xl mb-4">Highlighted Projects</h2>
<ul class="list-disc ml-4 mb-4">
    {% for project in notableProjects %}
        <li>
            <a href="{{project.url}}">{{project.title}}</a>: {{project.description}}</li>
    {% endfor %}
</ul>

<h2 class="text-2xl mb-4">Recent Articles</h2>
<ul class="list-disc ml-4 mb-4">
    {% for post in search.pages("type=blog", "order date=desc", 5) %}
        <li>{{post.data.date | date("DATE")}} - <a href="{{post.data.url}}">{{post.data.title}}</a>
        </li>
    {% endfor %}
</ul>

<h2 class="text-2xl mb-4">Quick Links</h2>
<ul class="list-disc ml-4 mb-4">
    {% for link in contactLinks %}
        <li>
            <a rel="me" href="{{link.url}}">{{link.title}}</a>
        </li>
    {% endfor %}
</ul>

<p class="mb-4">Looking for someone for your team? Check <a href="/signalboost">here</a>.</p>

<div class="flex flex-wrap items-start justify-center p-5">
    {% for word in resume.buzzwords %}
        <span class="m-2 p-2 text-sm bg-bg-1 dark:bg-bgDark-1 text-fg-1 dark:text-fgDark-1 rounded-lg">{{word}}</span>
    {% endfor %}
</div>