@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.xeiaso.net/file/christine-static/static/font/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&display=swap");

@layer base {
  @font-face {
    font-family: "Podkova";
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
    src: url("/static/font/Podkova.woff2") format("woff2");
  }

  a {
    @apply text-link-light-normal hover:text-link-light-hover hover:bg-link-light-hoverBg visited:text-link-light-visited visited:hover:text-link-light-visitedHover visited:hover:bg-link-light-visitedHoverBg underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }

  details {
    @apply p-4 bg-bg-soft;
  }

  @media (prefers-color-scheme: dark) {
    a {
      @apply text-link-dark-normal hover:text-link-dark-hover hover:bg-link-dark-hoverBg visited:text-link-dark-visited visited:hover:text-link-dark-visitedHover visited:hover:bg-link-dark-visitedHoverBg;
    }

    details {
      @apply bg-bgDark-soft;
    }
  }

  .prose figcaption {
    @apply mx-auto mt-2 w-3/4 text-center text-sm text-gray-600 dark:text-gray-300;
  }

  .convsnippet p:first-of-type {
    @apply mt-0;
    display: inline;
  }

  .xe-dont-newline p:first-of-type {
    @apply mt-0;
    display: inline;
  }

  .convsnippet p + p {
    @apply mt-4;
  }

  .xe-dont-newline p + p {
    @apply mt-4;
  }

  .logo-wumbo {
    background-color: #fdf5d7;
    -webkit-mask: url("/static/img/xeiaso.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask: url("/static/img/xeiaso.svg");
    mask-repeat: no-repeat;
    mask-size: 100%;
    width: 9.5em;
    height: 16em;
    display: inline-block;
  }

  @media (prefers-color-scheme: light) {
    .logo-wumbo {
      background-color: #1d2021;
    }
  }

  /**
 * Gruvbox dark theme
 *
 * Adapted from a theme based on:
 * Vim Gruvbox dark Theme (https://github.com/morhetz/gruvbox)
 *
 * @author Azat S. <to@azat.io>
 * @version 1.0
 */

  code[class*="language-"],
  pre[class*="language-"] {
    color: #ebdbb2; /* fg1 / fg */
    font-family: "Iosevka Curly Iaso", Consolas, Monaco, "Andale Mono",
      monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  pre[class*="language-"]::-moz-selection,
  pre[class*="language-"] ::-moz-selection,
  code[class*="language-"]::-moz-selection,
  code[class*="language-"] ::-moz-selection {
    color: #fbf1c7; /* fg0 */
    background: #7c6f64; /* bg4 */
  }

  pre[class*="language-"]::selection,
  pre[class*="language-"] ::selection,
  code[class*="language-"]::selection,
  code[class*="language-"] ::selection {
    color: #fbf1c7; /* fg0 */
    background: #7c6f64; /* bg4 */
  }

  /* Code blocks */
  pre[class*="language-"] {
    padding: 1em;
    overflow: auto;

    @apply mx-auto;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #1d2021; /* bg0_h */
  }

  /* Inline code */
  :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
  }

  .token.comment,
  .token.prolog,
  .token.cdata {
    color: #a89984; /* fg4 / gray1 */
  }

  .token.delimiter,
  .token.boolean,
  .token.keyword,
  .token.selector,
  .token.important,
  .token.atrule {
    color: #fb4934; /* red2 */
  }

  .token.operator,
  .token.punctuation,
  .token.attr-name {
    color: #a89984; /* fg4 / gray1 */
  }

  .token.tag,
  .token.tag .punctuation,
  .token.doctype,
  .token.builtin {
    color: #fabd2f; /* yellow2 */
  }

  .token.entity,
  .token.number,
  .token.symbol {
    color: #d3869b; /* purple2 */
  }

  .token.property,
  .token.constant,
  .token.variable {
    color: #fb4934; /* red2 */
  }

  .token.string,
  .token.char {
    color: #b8bb26; /* green2 */
  }

  .token.attr-value,
  .token.attr-value .punctuation {
    color: #a89984; /* fg4 / gray1 */
  }

  .token.url {
    color: #b8bb26; /* green2 */
    text-decoration: underline;
  }

  .token.function {
    color: #fabd2f; /* yellow2 */
  }

  .token.regex {
    background: #b8bb26; /* green2 */
  }

  .token.bold {
    font-weight: bold;
  }

  .token.italic {
    font-style: italic;
  }

  .token.inserted {
    background: #a89984; /* fg4 / gray1 */
  }

  .token.deleted {
    background: #fb4934; /* red2 */
  }
}
