---
title: ""
desc: ""
date: {{.Date}}
image: talks/{{.Year}}/{{.Slug}}/001
---

import Slide from "../../_components/XeblogSlide.tsx";

Talk abstract here

## Video

<Video path="talks/{{.Year}}/{{.Slug}}"/>

## Transcript

export const S = ({ number, desc }) => (
  <Slide name={`{{.Year}}/{{.Slug}}/${number}`} desc={desc}/>
);