{% if not skip_ads %}
    <script>
        if (!window.location.hostname.includes(".shark-harmonic.ts.net")) {
            document.write("<script async src=\"https://media.ethicalads.io/media/client/ethicalads.min.js\"><\/script>");
        }
    </script>

    <div data-ea-publisher="christinewebsite" data-ea-type="text" data-ea-style="fixedfooter"></div>
{% else %}
    <!-- Ads are disabled -->
{% endif %}