---
title: "API Docs - Xe Iaso"
layout: bare.njk
date: 2012-01-01
---

<script type="module" src="https://unpkg.com/rapidoc/dist/rapidoc-min.js"></script>

<rapi-doc
  spec-url="/api/defs/openapi.json"
  theme="dark"
  show-components="true"
  allow-spec-url-load="false"
  allow-spec-file-load="false"
></rapi-doc>