---
title: "API Docs - Xe Iaso"
layout: bare.njk
date: 2012-01-01
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Important: rapi-doc uses utf8 characters -->
    <script type="module" src="https://unpkg.com/rapidoc/dist/rapidoc-min.js"></script>
  </head>
  <body>
    <rapi-doc spec-url = "/api/defs/openapi.json"></rapi-doc>
  </body>
</html>