<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "title" . }}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="go-import" content="christine.website git https://github.com/Xe/site">
        <link rel="stylesheet" href="/css/hack.css" />
        <link rel="stylesheet" href="/css/gruvbox-dark.css" />
        <!-- <link rel="stylesheet" href="/css/snow.css" /> -->
        <link rel="manifest" href="/static/manifest.json" />

        <link rel="alternate" type="application/rss+xml" href="https://christine.website/blog.rss" />
        <link rel="alternate" type="application/atom+xml" href="https://christine.website/blog.atom" />
        <link rel="alternate" title="My Feed" type="application/json" href="https://christine.website/blog.json" />

        <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
        <link rel="manifest" href="/static/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <style>
         .main {
             padding: 20px 10px;
         }

         .hack h1 {
             padding-top: 0;
         }

         footer.footer {
             border-top: 1px solid #ccc;
             margin-top: 80px;
             margin-top: 5rem;
             padding: 48px 0;
             padding: 3rem 0;
         }

         img {
             max-width: 100%;
             padding: 1em;
         }
        </style>
        {{ template "styles" . }}
    </head>
    <body class="snow hack gruvbox-dark">
        {{ template "scripts" . }}
        <div class="container">
            <header>
                <p><a href="/">Christine Dodrill</a> - <a href="/blog">Blog</a> - <a href="/contact">Contact</a> - <a href="/resume">Resume</a> - <a href="https://graphviz.christine.website">GraphViz</a></p>
            </header>

            <div class="snowframe">
                {{ template "content" . }}
            </div>

            <footer>
                <blockquote>Copyright 2019 Christine Dodrill. Any and all opinions listed here are my own and not representative of my employers; future, past and present.</blockquote>
            </footer>

            <script>
             if (navigator.serviceWorker.controller) {
                 console.log("Active service worker found, no need to register");
             } else {
                 navigator.serviceWorker.register("/sw.js").then(function(reg) {
                     console.log("Service worker has been registered for scope:" + reg.scope);
                 });
             }
            </script>
        </div>
    </body>
</html>

{{ define "scripts" }}{{ end }}
{{ define "styles" }}{{ end }}
