{{ define "title" }}
<title>{{ .Title }} - Christine Dodrill</title>

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@theprincessxena" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="Posted on {{ .Date }}" />

<!-- Facebook -->
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:site_name" content="Christine Dodrill's Blog" />

<!-- Description -->
<meta name="description" content="{{ .Title }} - Christine Dodrill's Blog" />
<meta name="author" content="Christine Dodrill">

<script type="application/ld+json">
 {
   "@context": "http://schema.org",
   "@type": "Article",
   "headline": "{{ .Title }}",
   "image": "https://christine.website/static/img/avatar.png",
   "url": "https://christine.website/{{ .Link }}",
   "datePublished": "{{ .Date }}",
   "mainEntityOfPage": {
       "@type": "WebPage",
       "@id": "https://christine.website/{{ .Link }}"
   },
   "author": {
       "@type": "Person",
       "name": "Christine Dodrill"
   },
   "publisher": {
       "@type": "Person",
       "name": "Christine Dodrill"
   }
 }
</script>
{{ end }}

{{ define "content" }}
{{ .BodyHTML }}

<hr />

{{ end }}
