@use super::{header_html, footer_html};
@use crate::{post::Post, tmpl::nag};

@(post: Post, body: impl ToHtml, referer: Option<String>)

@:header_html(Some(&post.front_matter.title.clone()), None)

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@@theprincessxena" />
<meta name="twitter:title" content="@post.front_matter.title" />
<meta name="twitter:description" content="Posted on @post.date.format("%Y-%m-%d")" />

<!-- Facebook -->
<meta property="og:type" content="website" />
<meta property="og:title" content="@post.front_matter.title" />
<meta property="og:site_name" content="Xe's Blog" />

<!-- Description -->
<meta name="description" content="@post.front_matter.title - Xe's Blog" />
<meta name="author" content="Xe Iaso" />

@if post.front_matter.redirect_to.is_none() {
  <link rel="canonical" href="https://xeiaso.net/@post.link" />
} else {
  <link rel="canonical" href="@post.front_matter.redirect_to.as_ref().unwrap()" />
}

<script type="application/ld+json">
 @{
     "@@context": "http://schema.org",
     "@@type": "Article",
     "headline": "@post.front_matter.title",
     "image": "https://xeiaso.net/static/img/avatar.png",
     "url": "https://xeiaso.net/@post.link",
     "datePublished": "@post.date.format("%Y-%m-%d")",
     "mainEntityOfPage": @{
         "@@type": "WebPage",
         "@@id": "https://xeiaso.net/@post.link"
         @},
     "author": @{
         "@@type": "Person",
         "name": "Xe Iaso"
         @},
     "publisher": @{
         "@@type": "Person",
         "name": "Xe Iaso"
         @}
     @}
</script>

@if let Some(to) = post.front_matter.redirect_to.clone() {
  <meta http-equiv="refresh" content="0;URL='@to'" />
  <script>
    window.location.replace("@to");
  </script>
}

@Html(nag::referer(referer).0)

<article>
    <h1>@post.front_matter.title</h1>

    @Html(nag::prerelease(&post).0)

    <small>A @post.read_time_estimate_minutes minute read.</small>

    @body
</article>

<hr />

@if post.front_matter.vod.is_some() {
    <p>This post was written live on <a href="https://twitch.tv/princessxen">Twitch</a>. You can check out the stream recording on Twitch <a href="@post.front_matter.vod.as_ref().unwrap().twitch">here</a> and on YouTube <a href="@post.front_matter.vod.as_ref().unwrap().youtube">here</a>.</p>
}

<!-- The button that should be clicked. -->
<div id="mastodon_share_button"></div>
<div id="mastodon_share_series" style="display:none">@post.front_matter.series.as_ref().unwrap_or(&"".to_string())</div>
<div id="mastodon_share_tags" style="display:none">@for tag in post.front_matter.tags.as_ref().unwrap_or(&Vec::new()) {#@tag }</div>
<script src="/static/js/mastodon_share_button.js"></script>

<p>This article was posted on @post.detri(). Facts and circumstances may have changed since publication. Please <a href="/contact">contact me</a> before jumping to conclusions if something seems wrong or unclear.</p>

@if post.front_matter.series.is_some() {
    <p>Series: <a href="/blog/series/@post.front_matter.series.as_ref().unwrap()">@post.front_matter.series.as_ref().unwrap()</a></p>
}

@if post.front_matter.tags.is_some() {
    <p>Tags: @for tag in post.front_matter.tags.as_ref().unwrap() { <code>@tag</code> }</p>
}

@if post.mentions.len() != 0 {
    <p>This post was <a href="https://www.w3.org/TR/webmention/">WebMention</a>ed at the following URLs:
        <ul>
            @for mention in post.mentions {
            <li><a href="@mention.source">@mention.title.unwrap_or(mention.source)</a></li>
            }
        </ul>
    </p>
} else {
    <p>This post was not <a href="https://www.w3.org/TR/webmention/">WebMention</a>ed yet. You could be the first!</p>
}

<p>The art for Mara was drawn by <a href="https://selic.re/">Selicre</a>.</p>

<p>The art for Cadey was drawn by <a href="https://artzorastudios.weebly.com/">ArtZora Studios</a>.</p>

@:footer_html()
