{{ define "title" }}
<title>{{ trans "header" "blog" }} - {{ trans "header" "name" }}</title>
{{ end }}

{{ define "content" }}
<h1>{{ trans "blog" "index_title" }}</h1>

<p>
    <ul>
        {{ range . }}
            <li>{{ trans "blog" "posted_on" .Date }} - <a href="{{ .Link }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
</p>

<br />

<h2>{{ trans "blog" "blogroll" }}</h2>

<ul>
    <li><a href="https://write.as/excerpts/">Excerpts</a></li>
    <li><a href="https://heartmender.writeas.com/">Heartmender</a></li>
    <li><a href="https://celestialboon.github.io/">CelestialBoon</a></li>
    <li><a href="https://slatestarcodex.com/">Star Slate Codex</a></li>
    <li><a href="https://shamanic.vision/">Shamanic Vision</a></li>
</ul>

<h2>{{ trans "blog" "comments" }}</h2>
<h2>Selected Commentary on These Blogposts</h2>

<h3><a href="/blog/experimental-rilkef-2018-11-30">I Put Words on this Webpage so You Have to Listen to Me Now</a></h3>

<p>
    <blockquote>
        Top tier satire. Won't be read by anyone who should read it, and will be ignored/laughed at by anyone who does/already agrees.

        <br />

        Literally preaching to the literal choir.
    </blockquote>

    <blockquote>
        Hired.
    </blockquote>

    <blockquote>
        It’s things like this that make me realize just how bizarre this profession really is.
    </blockquote>

    <blockquote>
        Meanwhile, in two weeks the entire Haskell ecosystem will adapt.
    </blockquote>

    <blockquote>
        dont read any of the other posts if u dont want to melt ur brain backwards
    </blockquote>
</p>

{{ end }}
