{{ define "title" }}
<title>{{ trans "header" "blog" }} - {{ trans "header" "name" }}</title>

<style>
.blogpost-card {
    text-align: center;
}
</style>
{{ end }}

{{ define "content" }}
<h1>{{ trans "blog" "index_title" }}</h1>

<div class="grid">
    {{ range . }}
    <div class="card cell -4of12 blogpost-card">
        <header class="card-header">{{ .Title }}</header>
        <div class="card-content">
            <p>{{ trans "blog" "posted_on" .Date }} <br> <a href="{{ .Link }}">{{ trans "blog" "read_this" }}</a></p>
        </div>
    </div>
    {{ end }}
</div>

<br />

<h2>{{ trans "blog" "blogroll" }}</h2>

<ul>
    <li><a href="https://write.as/excerpts/">Excerpts</a></li>
    <li><a href="https://heartmender.writeas.com/">Heartmender</a></li>
    <li><a href="https://celestialboon.github.io/">CelestialBoon</a></li>
    <li><a href="https://slatestarcodex.com/">Star Slate Codex</a></li>
    <li><a href="https://shamanic.vision/">Shamanic Vision</a></li>
</ul>
{{ end }}
