{{ define "title" }}<title>Contact - Christine Dodrill</title>{{ end }}

{{ define "content" }}
<h1>Contact Information</h1>
<div class="grid">
  <div class="cell -6of12">
    <h3>Email</h3>
    <p>me@christine.website</p>

    <p>My GPG fingerprint is <code>799F 9134 8118 1111</code>. If you get an email that appears to be from me and the signature does not match that fingerprint, it is not from me. You may download a copy of my public key <a href="/static/gpg.pub">here</a>.</p>

    <h3>Social Media</h3>
    <ul>
      <li><a href="https://github.com/Xe">Github</a></li>
      <li><a href="https://twitter.com/theprincessxena">Twitter</a></li>
      <li><a href="https://keybase.io/xena">Keybase</a></li>
      <li><a href="https://www.coinbase.com/christinedodrill">Coinbase</a></li>
      <li><a href="https://ko-fi.com/A265JE0">Ko-fi</a></li>
      <li><a href="https://www.facebook.com/chrissycade1337">Facebook</a></li>
    </ul>
  </div>
  <div class="cell -6of12">
    <h3>Other Information</h3>
    <p>To send me donations, my bitcoin address is <code>1Gi2ZF2C9CU9QooH8bQMB2GJ2iL6shVnVe</code>.</p>

    <h4>IRC</h4>
    <p>I am on many IRC networks. On Freenode I am using the nick Xe but elsewhere I will use the nick Xena or Cadey.</p>

    <h4>Telegram</h4>
    <p><a href="https://t.me/miamorecadenza">@miamorecadenza</a></p>

    <h4>Discord</h4>
    <p><code>Cadey~#1932</code></p>
  </div>
</div>
{{ end }}
