@use super::{header_html, footer_html};

@()

@:header_html(Some("Contact"), None)

<h1>Contact Information</h1>
<div class="grid">
  <div class="cell -6of12">
    <h3>Email</h3>
    <p>me@@christine.website</p>

    <h3>Social Media</h3>
    <ul>
      <li><a href="https://github.com/Xe">Github</a></li>
      <li><a href="https://twitter.com/theprincessxena">Twitter</a></li>
      <li><a href="https://keybase.io/xena">Keybase</a></li>
      <li><a href="https://ko-fi.com/A265JE0">Ko-fi</a></li>
      <li><a href="https://www.patreon.com/cadey">Patreon</a></li>
      <li><a href="https://www.facebook.com/chrissycade1337">Facebook</a></li>
      <li><a href="https://pony.social/@@cadey">@@cadey@@pony.social</a></li>
      <li>Fortnite: Within Reason</li>
      <li><a href="irc://irc.libera.chat/#xeserv">Liberachat: #xeserv</a></li>
    </ul>
  </div>
  <div class="cell -6of12">
    <h3>Other Information</h3>
    <p>I have a <a href="https://www.patreon.com/cadey">Patreon</a> if you want to send donations, otherwise my <a href="https://ko-fi.com/A265JE0">Ko-Fi</a> works too.</p>

    <h4>Telegram</h4>
    <p><a href="https://t.me/miamorecadenza">@@miamorecadenza</a></p>

    <h4>Discord</h4>
    <p><code>Cadey~#1337</code></p>
  </div>
</div>

@:footer_html()
