@use super::{header_html, footer_html};

@()

@:header_html(Some("Feeds"), None)

<h1>Feeds</h1>

<ul>
    <li>Blog: <a href="/blog.atom">Atom</a> <a href="/blog.rss">RSS</a> - <a href="/blog.json">JSONFeed</a></li>
    <li>Twitter: <a href="https://rssbox.herokuapp.com/twitter/2573767249/theprincessxena">RSS</a></li>
    <li>Mastodon: <a href="https://pony.social/users/cadey.rss">RSS</a></li>
    <li>Revue Newsletter: <a href="https://www.getrevue.co/profile/theprincessxena.rss">RSS</a></li>
    <li>Flight Journal: Atom <a href="gemini://cetacean.club/journal/atom.xml">Gemini</a> <a href="https://portal.mozz.us/gemini/cetacean.club/journal/atom.xml">HTTPS</a></li>
</ul>

@:footer_html()
