@()
        </div>
        <hr />
        <footer>
            <blockquote>Copyright 2021 Christine Dodrill. Any and all opinions listed here are my own and not representative of my employers; future, past and present.</blockquote>
            <!--<p>Like what you see? Donate on <a href="https://www.patreon.com/cadey">Patreon</a> like <a href="/patrons">these awesome people</a>!</p>-->
            <p>Looking for someone for your team? Take a look <a href="/signalboost">here</a>.</p>
            <p>Served by @env!("out")/bin/xesite</a>, see <a href="https://github.com/Xe/site">source code here</a>.</p>
        </footer>

        </div>

        <script src="/static/js/installsw.js" defer></script>
    </body>
</html>
