{{ define "title" }}
<title>Gallery - Christine Dodrill</title>
{{ end }}

{{ define "content" }}
<h1>Gallery</h1>

<p>Here are links to all of the art I have done in the last few years.</p>

<p>If you have a compatible reader, be sure to check out my <a href="/blog.rss">RSS Feed</a> for automatic updates. Also check out the <a href="/blog.json">JSONFeed</a>.</p>

<p>
  <div class="grid">
    {{ range . }}
      <div class="card cell -4of12 blogpost-card">
        <header class="card-header">{{ .Title }}</header>
        <div class="card-content">
          <center><p>Posted on {{ .DateString }} <br><a href="{{ .Link }}"><img src="{{ .ThumbURL }}" /></a></p></center>
        </div>
      </div>
    {{ end }}
  </div>
</p>

{{ end }}
