{{ define "title" }}
<title>Christine Dodrill</title>
<link rel="authorization_endpoint" href="https://idp.christine.website/auth">
<meta name="google-site-verification" content="rzs9eBEquMYr9Phrg0Xm0mIwFjDBcbdgJ3jF6Disy-k" />
<script type="application/ld+json">
 {
     "@context": "http://schema.org/",
     "@type": "Person",
     "name": "Christine Dodrill",
     "alternateName": "Cadey, Xe, Xena",
     "url": "https://christine.website",
     "image": "https://christine.website/static/img/avatar_large.png",
     "sameAs": [
         "https://github.com/Xe",
         "https://git.xeserv.us/xena",
         "https://twitter.com/theprincessxena",
         "https://mst3k.interlinked.me/@cadey",
         "https://www.linkedin.com/in/christine-dodrill-1827a010b/",
         "https://www.youtube.com/user/shadowh511"
     ]
 }
</script>

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@theprincessxena" />
<meta name="twitter:title" content="Christine Dodrill" />
<meta name="twitter:description" content="Web and Backend Services Devops Specialist" />

<!-- Facebook -->
<meta property="og:type" content="website" />
<meta property="og:title" content="Christine Dodrill" />
<meta property="og:site_name" content="Web and Backend Services Devops Specialist" />

<!-- Description -->
<meta name="description" content="Web and Backend Services Devops Specialist" />
<meta name="author" content="Christine Dodrill">
{{ end }}

{{ define "content" }}
<div class="grid">
    <div class="cell -3of12 content">
        <img src="/static/img/avatar.png" alt="My Avatar">
        <br />
        <a href="/contact" class="justify-content-center">Contact Me</a>
    </div>
    <div class="cell -9of12 content">
        <h1>Christine Dodrill</h1>
        <h4>Web and Backend Services Devops Specialist</h4>
        <h5>Skills</h5>
        <ul>
            <li>Go, Lua, Nim, Haskell, C, Python (3.x) and other languages</li>
            <li>Docker (deployment, development & more)</li>
            <li>Mashups of data</li>
            <li>Package maintainer for Alpine Linux</li>
        </ul>

        <h5>Highlighted Projects</h5>
        <ul>
            <li><a href="https://github.com/Xe/PonyAPI">PonyAPI</a> - My Little Pony: Friendship is Magic Episode information API</li>
            <li><a href="https://github.com/PonyvilleFM/aura">Aura</a> - PonyvilleFM live DJ recording bot</li>
            <li><a href="https://github.com/Elemental-IRCd/elemental-ircd">Elemental-IRCd</a> - IRC Server Software</li>
            <li><a href="https://github.com/Xe/site">This website</a> - The backend and templates for this website</li>
            <li><a href="https://github.com/Xe/olin">Olin</a> - WebAssembly on the server</li>
            <li><a href="https://github.com/Xe/aports">aports</a> - Alpine Linux ports</li>
            <li><a href="https://github.com/Xe/when-then-zen">when-then-zen</a> - Meditation instructions in Gherkin</li>
            <li><a href="https://github.com/Xe/creators-code">Creator's Code</a> - Minimal code of conduct for communities</li>
            <li><a href="https://github.com/Xe/printerfacts">printerfacts</a> - Informative facts about printers</li>
            <li><a href="https://github.com/Xe/x">x</a> - Experiments and toys</li>
            <li><a href="https://github.com/Xe/xultybau">xultybau</a> - An experiment in metalinguistic programming with <a href="http://tokipona.net">Toki Pona</a>.</li>
        </ul>

        <h5>Quick Links</h5>
        <ul>
            <li><a href="https://github.com/Xe" rel="me">GitHub</a></li>
        </ul>
    </div>
</div>
{{ end }}
