@use super::{header_html, footer_html};

@()

@:header_html(None, None)

<link rel="authorization_endpoint" href="https://idp.christine.website/auth">
<link rel="canonical" href="https://christine.website/">
<meta name="google-site-verification" content="rzs9eBEquMYr9Phrg0Xm0mIwFjDBcbdgJ3jF6Disy-k" />
<script type="application/ld+json">
 @{
     "@@context": "http://schema.org/",
     "@@type": "Person",
     "name": "Christine Dodrill",
     "alternateName": "Cadey, Xe, Xena",
     "url": "https://christine.website",
     "image": "https://christine.website/static/img/avatar_large.png",
     "sameAs": [
         "https://github.com/Xe",
         "https://tulpa.dev/cadey",
         "https://twitter.com/theprincessxena",
         "https://pony.social/@@cadey",
         "https://www.linkedin.com/in/christine-dodrill-1827a010b/",
         "https://www.youtube.com/user/shadowh511"
     ]
 @}
</script>

<!-- Twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@@theprincessxena" />
<meta name="twitter:title" content="Christine Dodrill" />
<meta name="twitter:description" content="Full-stack Engineer" />

<!-- Facebook -->
<meta property="og:type" content="website" />
<meta property="og:title" content="Christine Dodrill" />
<meta property="og:site_name" content="Full-stack Engineer" />

<!-- Description -->
<meta name="description" content="Full-stack Engineer" />
<meta name="author" content="Christine Dodrill">

<div class="grid">
    <div class="cell -3of12 content">
        <img src="/static/img/avatar.png" alt="My Avatar">
        <br />
        <a href="/contact" class="justify-content-center">Contact Me</a>
    </div>
    <div class="cell -9of12 content">
        <h1>Christine Dodrill</h1>
        <h4>Full-stack Engineer</h4>
        <h5>Skills</h5>
        <ul>
            <li>Go, Lua, Haskell, C, Rust and other languages</li>
            <li>Docker (deployment, development & more)</li>
            <li>Kubernetes</li>
            <li>Mashups of data</li>
            <li>Package maintainer for Adélie Linux</li>
            <li>kastermakfa</li>
        </ul>

        <h5>Highlighted Projects</h5>
        <ul>
            <li><a href="https://github.com/PonyvilleFM/aura">Aura</a> - PonyvilleFM live DJ recording bot</li>
            <li><a href="https://github.com/Elemental-IRCd/elemental-ircd">Elemental-IRCd</a> - IRC Server Software</li>
            <li><a href="https://github.com/Xe/site">This website</a> - The backend and templates for this website</li>
            <li><a href="https://github.com/Xe/olin">Olin</a> - WebAssembly on the server</li>
            <li><a href="https://github.com/Xe/when-then-zen">when-then-zen</a> - Meditation instructions in Gherkin</li>
            <li><a href="https://github.com/Xe/creators-code">Creator's Code</a> - Minimal code of conduct for communities</li>
            <li><a href="https://github.com/Xe/printerfacts">printerfacts</a> - Informative facts about printers</li>
            <li><a href="https://github.com/Xe/x">x</a> - Experiments and toys</li>
            <li><a href="https://github.com/Xe/PonyAPI">PonyAPI</a> - My Little Pony: Friendship is Magic Episode information API</li>
            <li><a href="https://github.com/Xe/bsnk">bsnk</a> - Battlesnake bots</li>
            <li><a href="https://tulpa.dev/cadey/xeos">XeOS</a> - An experimental microkernel in Rust</li>
            <li><a href="https://h.christine.website">h</a> - A satirical programming language</li>
            <li><a href="https://github.com/Xe/gruvbox-css">gruvbox-css</a> - My minimal Gruvbox CSS theme</li>
            <li><a href="https://tulpa.dev/Xe/quickserv">quickserv</a> - A quick HTTP fileserver</li>
        </ul>

        <h5>Quick Links</h5>
        <ul>
            <li><a href="https://github.com/Xe" rel="me">GitHub</a></li>
            <li><a href="https://twitter.com/theprincessxena" rel="me">Twitter</a></li>
            <li><a href="https://pony.social/@@cadey" rel="me">Mastodon</a></li>
            <li><a href="https://www.patreon.com/cadey" rel="me">Patreon</a></li>
        </ul>

        <p>Looking for someone for your team? Check <a href="/signalboost">here</a>.         
    </div>
</div>

@:footer_html()
