{{ define "title" }}<title>Christine Dodrill</title>{{ end }}

{{ define "content" }}
<div class="grid">
    <div class="cell -3of12 content">
        <img src="/static/img/avatar.png">
        <br />
        <a href="/contact" class="justify-content-center">Contact Me</a>
    </div>
    <div class="cell -9of12 content">
        <h1>Christine Dodrill</h1>
        <h4>Web and Backend Services Devops Specialist</h4>
        <h5>Skills</h5>
        <ul>
            <li>Go, Lua, Nim, Haskell, C, Python (3.x) and other languages</li>
            <li>Docker (deployment, development & more)</li>
            <li>Mashups of data</li>
            <li>Package maintainer for Alpine Linux</li>
        </ul>

        <h5>Highlighted Projects</h5>
        <ul>
            <li><a href="https://github.com/Xe/PonyAPI">PonyAPI</a> - My Little Pony: Friendship is Magic Episode information API</li>
            <li><a href="https://github.com/PonyvilleFM/aura">Aura</a> - PonyvilleFM live DJ recording bot</li>
            <li><a href="https://github.com/Elemental-IRCd/elemental-ircd">Elemental-IRCd</a> - IRC Server Software</li>
            <li><a href="https://github.com/Xe/site">This website</a> - The backend and templates for this website</li>
        </ul>
    </div>
</div>
{{ end }}
