@use crate::handlers::notes::Note;
@use super::{header_html, footer_html};

@(notes: Vec<Note>, page: u64)

@:header_html(Some("Notes"), None)

<h1>Notes</h1>

<p>Notes are what I use for shorter form content. Think what you might see on Twitter or Mastodon. Most of my notes will be shorter form replies to articles and other things that I'd normally have lost to Hacker News or lobste.rs comments. I'm trying to use this to <a href="http://www.alwaysownyourplatform.com">own my platform</a>.</p>

<p>Let's see how long I can keep up this experiment.</p>

<p>If you want to subscribe to my notes, you can use <a href="/notes.json">this dedicated feed</a>.</p>

@for note in notes {
    @Html(note.to_html().0)
}

@if page!=0 {
  <a href="/notes?page=@(page-1)">Prev</a>
}
<a href="/notes?page=@(page+1)">Next</a>

@:footer_html()
