{{ define "title" }}
<title>Patrons - Christine Dodrill</title>
{{ end }}

{{ define "content" }}
<h1>Patrons</h1>

<p>These awesome people donate to me on <a href="https://patreon.com/cadey">Patreon</a>. If you would like to show up in this list, please donate to me on Patreon. This is refreshed every time the site is deployed.</p>

<p>
    <ul>
        {{- range . }}
        <li>{{ . }}</li>
        {{- end }}
    </ul>
</p>

<p>Thank you so much! Your support helps make my projects possible.</p>

{{ end }}
