@use super::{header_html, footer_html};
@use crate::{app::Config, tmpl::xeblog_salary_history};
@use std::sync::Arc;

@(cfg: Arc<Config>)

@:header_html(Some("Salary Transparency"), None)

<h1>Salary Transparency</h1>

<p>This page lists my salary for every job I've had in tech. I have had this data open to the public <a href="https://xeiaso.net/blog/my-career-in-dates-titles-salaries-2019-03-14">for years</a>, but I feel this should be more prominently displayed on my website. Other people have copied my approach of having a list of every salary they have ever been payed on their websites, and I would like to set the example by making it prominent on my website.</p>

<p>As someone who has seen pay discrimination work in action first-hand, data is one of the ways that we can end this pointless hiding of information that leads to people being uninformed and hurt by their lack of knowledge. By laying my hand out in the open like this, I hope to ensure that people are better informed about how much money they <i>can</i> make, so that they can be paid equally for equal work.</p>

<h2>Salary Data</h2>

<p>To get this data, I have scoured over past emails, contracts and everything so that I can be sure that this information is as accurate as possible. The data on this page intentionally omits employer names.</p>

<p>Raw data (including employer names) is available at <code>/api/salary_transparency.json</code>. The JSON format is not stable. Do not treat it as such. I reserve the right to change the formatting or semantics of the JSON format at any time without warning. The raw data is in <code>/dhall/jobHistory.dhall</code> in my site's git repository.</p>

@Html(xeblog_salary_history(cfg.clone()).0)

<p>I typically update this page once any of the following things happens:</p>

<ul>
    <li>I quit a job.</li>
    <li>I get a raise/title change at the same company.</li>
    <li>I get terminated from a job.</li>
    <li>I get converted from a contracter to a full-time employee.</li>
    <li>Other unspecified extranormal events happen.</li>
</ul>

<p>Please consider publishing your salary data like this as well. By open, voluntary transparency we can help to end stigmas around discussing pay and help ensure that the next generations of people in tech are treated fairly. Stigmas thrive in darkness but die in the light of day. You can help end the stigma by playing your cards out in the open like this.</p>

@:footer_html()
