
@use crate::post::Post;
@use super::{header_html, footer_html};

@(posts: Vec<Post>)

@:header_html(Some("Talks"), None)

<h1>Talks</h1>

<p>Here is a link to all of the talks I have done at conferences. Each of these will have links to the slides (PDF) as well as some brief information about them.</p>

<p>If you have a compatible reader, be sure to check out my <a href="/blog.rss">RSS Feed</a> for automatic updates. Also check out the <a href="/blog.json">JSONFeed</a>.</p>

<p>
    <ul>
        @for post in posts {
            <li>@post.date.format("%Y-%m-%d") - <a href="/@post.link">@post.front_matter.title</a></li>
        }
    </ul>
</p>

@:footer_html()
