name: Docker

on:
  push:
    branches: ["main"]
    # Publish semver tags as releases.
    tags: ["v*.*.*"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Log into registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3.0.0
        with:
          registry: ghcr.io
          username: xe
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        if: github.event_name != 'pull_request'
        id: build
        uses: docker/bake-action@5be5f02ff8819ecd3092ea6b2e6261c31774f2b4 # v6.10.0
        with:
          source: .
          push: true
          set: |
            github-sponsor-webhook.tags=ghcr.io/xe/site/github-sponsor-webhook:latest
            patreon-saasproxy.tags=ghcr.io/xe/site/patreon-saasproxy:latest
            sponsor-panel.tags=ghcr.io/xe/site/sponsor-panel:latest
            xesite.tags=ghcr.io/xe/site/bin:latest

      - name: Build Docker image
        if: github.event_name == 'pull_request'
        uses: docker/bake-action@5be5f02ff8819ecd3092ea6b2e6261c31774f2b4 # v6.10.0
        with:
          source: .
          push: false
          set: |
            github-sponsor-webhook.tags=ghcr.io/xe/site/github-sponsor-webhook:latest
            patreon-saasproxy.tags=ghcr.io/xe/site/patreon-saasproxy:latest
            sponsor-panel.tags=ghcr.io/xe/site/sponsor-panel:latest
            xesite.tags=ghcr.io/xe/site/bin:latest
